# 编译器
.vscode/*
.vscode
.idea
.idea/*
logs
logs/*
__pycache__/*
__pycache__

# 虚拟环境
.venv
.venv/*

# 模型
model.pth
best_model.pth
resnet/model.pth
training_history.png

# 数据
data
data/*
resnet/data
resnet/data/*